In [1]:
city = ['Seattle', 'San Francisco', 'Los Angeles', 'Denver', 'Salt Lake City', 'Phoenix', 'Chicago', 'St. Louis', 'Dallas', 'Boston', 'Washington D.C.', 'Miami']
totaldays = [306, 314, 275, 366, 366, 366, 366, 366, 306, 306, 366, 275]
poordays = [14, 22, 119, 34, 21, 70, 28, 10, 24, 0, 3, 2]
aqimed = [42, 45, 81, 58, 50, 75, 56, 52, 49, 42, 42, 44]
zone = ['west', 'west', 'west', 'mountain',' mountain', 'mountain', 'central', 'central', 'central', 'east', 'east', 'east']

In [2]:
myd = ({'City':city, 'Total Days':totaldays, 'Poor Days':poordays, 'AQI Median':aqimed, 'Zone':zone})

In [3]:
import pandas as pd

aqicities = pd.DataFrame({'City':city, 'Total Days':totaldays, 'Poor Days':poordays, 'AQI Median':aqimed, 'Zone':zone})

In [4]:
aqicities

               City  Total Days  Poor Days  AQI Median       Zone
0           Seattle         306         14          42       west
1     San Francisco         314         22          45       west
2       Los Angeles         275        119          81       west
3            Denver         366         34          58   mountain
4    Salt Lake City         366         21          50   mountain
5           Phoenix         366         70          75   mountain
6           Chicago         366         28          56    central
7         St. Louis         366         10          52    central
8            Dallas         306         24          49    central
9            Boston         306          0          42       east
10  Washington D.C.         366          3          42       east
11            Miami         275          2          44       east

In [5]:
aqicities.to_csv('aqicities.csv', index=False)

In [6]:
city = ['Centralia', 'Charlottesville']
totaldays = [323, 363]
poordays = [0, 0]
aqimed = [19, 35]
zone = ['west', 'east']

In [7]:
myd2 = ({'City':city, 'Total Days':totaldays, 'Poor Days':poordays, 'AQI Median':aqimed, 'Zone':zone})

In [8]:
aqicities2 = pd.DataFrame({'City':city, 'Total Days':totaldays, 'Poor Days':poordays, 'AQI Median':aqimed, 'Zone':zone})

In [9]:
aqicities2

              City  Total Days  Poor Days  AQI Median  Zone
0        Centralia         323          0          19  west
1  Charlottesville         363          0          35  east

In [10]:
aqicities2.to_csv('aqicities2.csv', index = False)

In [11]:
aqicities2 = pd.read_csv('aqicities2.csv')

In [12]:
aqicities2

              City  Total Days  Poor Days  AQI Median  Zone
0        Centralia         323          0          19  west
1  Charlottesville         363          0          35  east

In [13]:
aqicities = pd.read_csv('aqicities.csv')

In [14]:
aqicities

               City  Total Days  Poor Days  AQI Median       Zone
0           Seattle         306         14          42       west
1     San Francisco         314         22          45       west
2       Los Angeles         275        119          81       west
3            Denver         366         34          58   mountain
4    Salt Lake City         366         21          50   mountain
5           Phoenix         366         70          75   mountain
6           Chicago         366         28          56    central
7         St. Louis         366         10          52    central
8            Dallas         306         24          49    central
9            Boston         306          0          42       east
10  Washington D.C.         366          3          42       east
11            Miami         275          2          44       east

In [15]:
aqicities2

              City  Total Days  Poor Days  AQI Median  Zone
0        Centralia         323          0          19  west
1  Charlottesville         363          0          35  east

In [16]:
data1 = pd.read_csv('aqicities.csv')
data2 = pd.read_csv('aqicities2.csv')

In [17]:
data1

               City  Total Days  Poor Days  AQI Median       Zone
0           Seattle         306         14          42       west
1     San Francisco         314         22          45       west
2       Los Angeles         275        119          81       west
3            Denver         366         34          58   mountain
4    Salt Lake City         366         21          50   mountain
5           Phoenix         366         70          75   mountain
6           Chicago         366         28          56    central
7         St. Louis         366         10          52    central
8            Dallas         306         24          49    central
9            Boston         306          0          42       east
10  Washington D.C.         366          3          42       east
11            Miami         275          2          44       east

In [18]:
data2

              City  Total Days  Poor Days  AQI Median  Zone
0        Centralia         323          0          19  west
1  Charlottesville         363          0          35  east

In [19]:
allcities = pd.merge(data1,data2, how='outer')
print(allcities)

               City  Total Days  Poor Days  AQI Median       Zone
0           Seattle         306         14          42       west
1     San Francisco         314         22          45       west
2       Los Angeles         275        119          81       west
3            Denver         366         34          58   mountain
4    Salt Lake City         366         21          50   mountain
5           Phoenix         366         70          75   mountain
6           Chicago         366         28          56    central
7         St. Louis         366         10          52    central
8            Dallas         306         24          49    central
9            Boston         306          0          42       east
10  Washington D.C.         366          3          42       east
11            Miami         275          2          44       east
12        Centralia         323          0          19       west
13  Charlottesville         363          0          35       east

In [20]:
allcities.size

70

In [21]:
allcities.shape

(14, 5)

In [22]:
allcities.ndim

2

In [23]:
allcities.dtypes

City          object
Total Days     int64
Poor Days      int64
AQI Median     int64
Zone          object
dtype: object

In [24]:
allcities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        14 non-null     object
 1   Total Days  14 non-null     int64
 2   Poor Days   14 non-null     int64
 3   AQI Median  14 non-null     int64
 4   Zone        14 non-null     object
dtypes: int64(3), object(2)
memory usage: 672.0+ bytes

In [25]:
allcities

               City  Total Days  Poor Days  AQI Median       Zone
0           Seattle         306         14          42       west
1     San Francisco         314         22          45       west
2       Los Angeles         275        119          81       west
3            Denver         366         34          58   mountain
4    Salt Lake City         366         21          50   mountain
5           Phoenix         366         70          75   mountain
6           Chicago         366         28          56    central
7         St. Louis         366         10          52    central
8            Dallas         306         24          49    central
9            Boston         306          0          42       east
10  Washington D.C.         366          3          42       east
11            Miami         275          2          44       east
12        Centralia         323          0          19       west
13  Charlottesville         363          0          35       east

In [26]:
allcities.mean()

Total Days    333.142857
Poor Days      24.785714
AQI Median     49.285714
dtype: float64

In [27]:
allcities.to_csv('allcitiesAQI.csv', index = False
            )