# Python Data Types

In [1]:
# 1. Boolean Data (0 or 1, False or True, No or Yes)

a = True
b = False
type(a)

bool

In [2]:
# 2. Integer Data (1,-1,0,8)

multiply = 4*4
type(multiply)

int

In [3]:
import math
# 3. Float Data (1.0,-1.0,0.0,8.0)
divide = 4/4
c = 3.4323
d = 16
e= c+d
mysqrt = math.sqrt(d)
type(c)
print(e)
print(type(e))
print(mysqrt)

19.4323
<class 'float'>
4.0

In [4]:
fname = 'Kelly'
lname = "Ward"
print(fname)
print(lname)
print(type(fname))

Kelly
Ward
<class 'str'>

In [5]:
type(c)

float

In [6]:
ctoint = int(c)
type(ctoint)

int

In [15]:
age = 28
ages = str(age)

fullname = fname + ' ' + lname
print(fname + ' ' + lname + ' ' + ages + 'is years old')
print(type(ages))

Kelly Ward 28is years old
<class 'str'>

In [14]:
print(f'{fullname} is {age} years old')

Kelly Ward is 28 years old

In [16]:
stringval = '3.33333'
intval = float(stringval)

In [18]:
intval2 = int(intval)

In [20]:
type(intval2)

int

In [21]:
intval2

3

# Python Data Structures

In [39]:
# 1. Lists (are containers)
mylist=[1,2,3,4,5,6,7,8,9,10]
mylist2 = [45.67,33.21,['Kelly','Ward'], 100]


# Indexing in Python
# Index = [0,1,2,3,4,5,6,7,8,9]
#         [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1]
mylist[-10]

1

In [35]:
city = ['Burlington','Portland','Concord','Boston','Worcester','Providence','Hartford']

In [36]:
len(city)

7

In [54]:
# Indexing a range of values
# (Begin:End) *End value must be one index value higher (exclusive)
northernne = city[0:3]

In [55]:
northernne

['Burlington', 'Portland', 'Concord']

In [56]:
city2 = city

['Burlington',
 'Portland',
 'Concord',
 'Boston',
 'Worcester',
 'Providence',
 'Hartford']

In [57]:
city2.append('Mt. Washington')

In [61]:
city2.pop(1)

'Portland'

In [71]:
city2

['Burlington', 'Concord', 'Boston', 'Worcester', 'Providence', 'Hartford']

In [74]:
# 2. Tuples (cannot be modified)
mytuple = (1,2,3,4,5,6,7,8,9,10)
type(mytuple)

tuple

In [72]:
mytuplelist = list(mytuple)

In [73]:
type(mytuplelist)

list

In [75]:
# 3. Dictionaries (key-value pairs)

snowfall = {'Burlington': 81.2,'Portland': 61.9,'Concord': 61.4,'Boston': 43.8, 'Worcester': 64.1,'Providence': 33.8,'Hartford': 40.5}

In [78]:
snowfall['Hartford']

40.5

In [79]:
snowfall2={'City':['Burlignton','Portland','Concord'], 'snowfall':[81.2,61.9,61.4]}

In [83]:
import pandas as pd
snowdf = pd.DataFrame(snowfall2)
snowdf

         City  snowfall
0  Burlignton      81.2
1    Portland      61.9
2     Concord      61.4