# Python Data Types

In [9]:
# 1. Boolean Data (0 or 1, False or True, No or Yes)

a = True
b = False
a

True

In [17]:
# 2. Integer Data (1,-1,0,8)

multiply = 4*4
type(multiply)

int

In [27]:
import math
# 3. Float Data (1.0,-1.0,0.0,8.0)
divide = 4/4
c = 3.4323
d = 16
e= c+d
mysqrt = math.sqrt(d)
type(c)
print(e)
print(type(e))
print(mysqrt)

19.4323
<class 'float'>
4.0

In [34]:
fname = 'Kelly'
lname = "Ward"
print(fname)
print(lname)
print(type(fname))

Kelly
Ward
<class 'str'>

In [33]:
type(c)

float

In [31]:
ctoint = int(c)
type(ctoint)

int

In [51]:
age = 28
ages = str(age)

fullname = fname + lname
print(fname + '' + lname + ages + 'is years old')
print(type(ages))

KellyWard28is years old
<class 'str'>

In [52]:
print(f'{fullname} is {age} years old')

KellyWard is 28 years old